site_name: Find The Items
site_url: https://meteorbee.github.io/FindTheItems
site_description: The documentation for my Find The Items Kit
site_author: meteorbee

repo_name: meteorbee/FindTheItems
repo_url: https://github.com/meteorbee/FindTheItems
edit_uri: ""

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - toc.integrate
    - content.code.annotate
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Capabilities: capabilities.md
  - API Reference: APIReference.md
plugins:
  - glightbox
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
